@use "global" as *;
.mv__img {
  // size
  width: 100%;
  height: 100%;
  // decoration
  background-image: url(/images/sp-under-mv@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // ajustment
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  @include mq(md) {
    // decoration
    background-image: url(/images/under-mv@2x.png);
  }
  @include mq(xl) {
  }
}

.mv__img::before {
  content: "お知らせ";
  // size
  display: block;
  width: 100%;
  // font
  font-family: "Noto Sans JP", sans-serif;
  font-size: rem(30);
  font-style: normal;
  font-weight: $bold;
  letter-spacing: rem(2);
  line-height: 1;
  // decoration
  color: #fff;
  @include mq(md) {
    // font
    font-size: rem(35);
    letter-spacing: rem(2);
  }
  @include mq(xl) {
  }
}
